<%= render :partial => "search" %>
<%- model_class = Job -%>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <%# Posted Job Title Company Name  Location %>
      <th class="col-md-2">張貼日期</th>
      <th>工作職稱</th>
      <th class="col-md-2">公司名稱</th>
      <th class="col-md-2">工作地點</th>
    </tr>
  </thead>
  <tbody id='job-list'>
    <%= render partial: "job", collection: @jobs %>
  </tbody>
</table>
<%= paginate @jobs %>
<% content_for :opengraph_meta_tags do %>
  <meta property="og:title" content="iOSjobs.tw">
  <meta property="og:url" content="http://iosjobs.tw">
  <meta property="og:image" content="http://i.imgur.com/mIK2vIe.jpg">
  <meta property="og:description" content="iOS Jobs Taiwan">
<% end %>
