// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 60px;
}

@media (max-width: 980px) {
  body {
    padding-top: 60px;
  }
}
$brand-success : #5cb85c;
$navbar-default-link-color : $brand-success;
$link-color : $brand-success;
@import "bootstrap";